body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/background.webp);
    background-position: center;
    background-size: cover;
}

header {
    background-color: #9e9a8e;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.about-us {
    padding: 50px 20px;
    text-align: center;
    background-color: #ffffff2f;
    color: #333;
}

.about-us h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #444;
}

.about-us p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #9c9b92;
    color: rgb(58, 49, 49);
    text-align: center;
    padding: 1em 0;
    margin-top: 50px;
}
